header{
  background-color: #ffffff;
  border-color: #cccccc;
  position: fixed;
  width: 100%;
  border-bottom: #cccccc;
}

#logoBox {
  width: 960px;
  margin-top: 30px;
}

h1 {
  background-color: #4aaaa5;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  bottom: 0;
  margin: 0;
}

#nav {
  float: right;
  margin-top: 30px;
}